---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<!-- Test Tailwind -->
	<div class="bg-blue-500 text-white p-4">
		<h1 class="text-2xl font-bold">Hello, Tailwind CSS is working!</h1>
		<p class="mt-2">This is a sample paragraph styled with Tailwind CSS.</p>
	</div>
  <Welcome />
</Layout>
