---
import DashboardImage from "../assets/dashboard.png?url";
import { MoveUpRight } from "@lucide/astro";
---

<section class="pt-32 bg-linear-to-b from-white from-20% to-primary-500 h-[105vh]">
  <div class="container mx-auto px-6 h-full">
    <div class="flex flex-col gap-12 items-center flex-1 h-full">
      <div>
        <h1 class="text-4xl text-gray-900 mb-6 leading-tight text-center">
          POS Profesional, Modern, dan Bisa Disesuaikan dengan Kebutuhan Bisnis
          Anda
        </h1>
        <p class="text-xl text-gray-600 mb-8 text-center">
          Dari fitur inti hingga add-on pilihan, Positif memberi kebebasan bagi
          bisnis Anda untuk menyesuaikan dan bertumbuh.
        </p>
        <div class="flex flex-row justify-center">
          <button
            class="bg-primary-500 text-white px-4 py-2 rounded-full text-md hover:bg-primary-600 shadow-lg"
          >
            Coba Gratis
            <MoveUpRight class="inline-block ml-2" color="#ffffff" />
          </button>
          <button
            class="ml-4 text-primary-500 font-semibold hover:text-primary-600"
          >
            Mulai Berlangganan
          </button>
        </div>
      </div>
      <div
        class="relative flex-1 w-full max-w-5xl bg-radial from-white/100 to-white/30 rounded-t-xl shadow-2xl px-4 pt-4 overflow-hidden"
      >
        <div
          class="bg-cover bg-top h-full w-full"
          style={`background-image: url('${DashboardImage}');`}
        >
        </div>
      </div>
    </div>
  </div>
</section>
